" .ideavimrc is a configuration file for IdeaVim plugin. It uses the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
 

 

" ------------------------------------- Set options below ------------------------------------------------------

 

set easymotion                          " use plugin installed from IDEA
set quickscope                          " use plugin installed from IDEA

set ignorecase                          " case insensitive
set smartcase                           " use case sensitive when capital letters is input
set hlsearch                            " highlight search
set incsearch                           " incremental search
set number                              " add line numbers
set relativenumber                      " add relative line numbers
set colorcolumn=120                     " set an 120 column border for good coding style
syntax on                               " syntax highlighting
set list                                " show whitespace
set breakindent                         " indent soft wrapped lines to match the first line's indent
set viminfo=100                         " remember viminfo when restarts
set visualbell                          " when on, prevent beeping on error
set virtualedit=onemore                 " place cursor where there is no actual text,
                                        " 'onemore' allows the cursor to move just past the end of the line
set matchpairs+=<:>                     " % also match '<'s and '>'s
set scrolloff=9                         " Show a few lines of context around the cursor. Note that this makes
                                        " the text scroll if you mouse-click near the start or end of the window.
noh                                     " reset highlight when restarts.

" IDEA VIM Specific
set clipboard^=unnamed,unnamedplus



" ----------------------------------------- Plugins below --------------------------------------------------------
 

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
 
Plug 'machakann/vim-highlightedyank'                       " Highlight copied text
Plug 'tpope/vim-commentary'                                " Commentary plugin
Plug 'preservim/nerdtree'                                  " Use NERDTree shortcut to control file navigator
Plug 'tpope/vim-surround'                                  " Surrounding word e.g., ysiw' to surround word with '.
                                                           " Also V select and press S to surround character outside.
Plug 'terryma/vim-multiple-cursors'                        " CTRL + N for multiple cursor


" Quickscope highlight keys settings
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

 

" ------------------------------------------ Key maps below -------------------------------------------------------


" Map <leader> key
let mapleader=" "

 
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map Reformat Code action
map \r <Action>(ReformatCode) :write<CR>
"" Map go to function declaration.
map \d <Action>(GotoDeclaration)
"" Map toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)
"" Map show Quick Documentation and Error Description
map \q <Action>(ShowHoverInfo)
"" Map show Quick Definition
map \e <Action>(QuickImplementations)
"" Map show Parameter Info
map \p <Action>(ParameterInfo)
"" Map close file tab
map \w <Action>(CloseContent)
"" Map show terminal window
map \t <Action>(ActivateTerminalToolWindow)
"" Map toggle distraction free mode
map \z <Action>(ToggleDistractionFreeMode)
"" Map file structure pop up - show attributes of current file
map \f <Action>(FileStructurePopup)
"" Map hide all side windows
map \h <Action>(HideAllWindows)

"" Map stop showing highlights.
nnoremap <leader>n :noh<CR>
"" Map set scrolloff=0 to solve Jupyter notebook screen jumping issue.
nnoremap <leader>s :set scrolloff=0<CR>
"" Map set scrolloff=9 to go back to default setting initiated.
nnoremap <leader>S :set scrolloff=9<CR>
"" Map NERDTree
nnoremap <leader>z :NERDTreeFocus<CR>
"" Split window
nmap <leader>V <Action>(SplitVertically)
nmap <leader>H <Action>(SplitHorizontally)
nmap <leader>v <Action>(MoveTabRight)
nmap <leader>h <Action>(MoveTabDown)
nmap <leader>o <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>O <Action>(Unsplit)
nmap <leader>w <Action>(CloseAllEditorsButActive)
nmap <leader>W <Action>(CloseAllEditors)


"" Map editor shortcuts
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map gc <Action>(GotoClass)
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gs <Action>(GotoSuperMethod)
" IDEA action - go to next position, same as Ctrl-i
map gf <Action>(Forward)
" IDEA action - go to previous position, same as Ctrl-o
map gb <Action>(Back)
map <C-Right> <Action>(NextTab)
map <C-Left> <Action>(PreviousTab)
" Map Ctrl-Up to VIM key # - jump to previous whole word.
nnoremap <C-Up> #
" Map Ctrl-Down to VIM key * - jump to next whole word.
nnoremap <C-Down> *
" Yank til end of line. Default is to yank whole line as yy.
nnoremap Y y$

" Quick window navigation in split window
map <C-J> <C-W>j
map <C-K> <C-W>k
map <C-L> <C-W>l
map <C-H> <C-W>h

" Put search results in the middle of the screen
nnoremap n nzz
nnoremap N Nzz

" Don't use Ex mode, use Q for formatting.
map Q gq

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence


" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
" Feel free to pick your own mappings that are not affected. I like to use <leader>
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences


" ----------------------------------------Set IDEA handler below ---------------------------------------------------


" n - normal mode
" i - insert mode
" x - visual mode
" v - visual and select modes
" a - all modes
" ide - use IDE handler
" vim - use Vim handler
" Example below:
" sethandler <C-C> n-v:ide i:vim

sethandler <C-A> n:vim i-x:ide
sethandler <C-Q> n-x:vim i:ide
sethandler <C-P> n-x:vim i:ide




